{% extends "shome/basic.html" %}
{% block title %}{{Gaming.game_name}}- My tech Reviews{% endblock %}
{% block head_extra %}
{% load static %}
    <link rel="stylesheet" href="{% static 'shome/gameview.css' %}">
{% endblock %}
{% block body %}
{% comment %} sidebr code {% endcomment %}
<div class="sidebar">
    {% for i in Gamescroll %}
        <a href="/games/{{i.id}}">{{i.game_name |slice:"0:23"}}</a>
    {% endfor %}
</div>
{% comment %} sidebar ended {% endcomment %}
<h2 id="hedding">{{Gaming.game_header}}</h2>
<div id="imgframe">
    <img src="/media/{{Gaming.image}}" alt="">
</div>
<div id="contframe">
    <p>{{Gaming.desc|safe}}</p>
</div>
<hr>
<div class="container">
    <h2>Comments......</h2><br>
    <p>We will work on comments Letter</p>
</div>
<br><br><br><br><br>
{% endblock  %}