{% extends "shome/basic.html" %}
{% block title %}{{product.product_name}}- My tech Reviews{% endblock %}
{% block head_extra %}
{% load static %}
    <link rel="stylesheet" href="{% static 'shome/prodview.css' %}">
{% endblock %}
{% block body %}
{% comment %} sidebr code {% endcomment %}
<div class="sidebar">
    {% for i in Prodscroll %}
        <a href="/products/{{i.id}}">{{i.product_name |slice:"0:23"}}</a>
    {% endfor %}
</div>
{% comment %} sidebar ended {% endcomment %}
<h2 id="hedding">{{product.product_header}}</h2>
<div id="imgframe">
    <img src="/media/{{product.image}}" alt="">
</div>
<div id="contframe">
    <p>{{product.desc|safe}}</p>
</div>
<hr>
<div class="Cmtcontainer">
    <h2>Comments......</h2><br>
    <p>We will work on comments Letter</p>
</div>
<br><br><br><br><br>
{% endblock  %}