{% extends "shome/basic.html" %}
{% block title %}{{Softwarez.software_name}}- My tech Reviews{% endblock %}
{% block body %}
<h2 id="hedding">{{Softwarez.software_name}}</h2>
<div id="imgframe">
    <img src="/media/{{Softwarez.image}}" alt="">
</div>
<div id="contframe">
    <p>{{Softwarez.desc}}</p>
</div>
<style>
    #imgframe {
        width: 50%;
        margin: 0 auto;
    }

    #imgframe img {
        width: 100%;
    }
    #hedding{
        text-align: center;
    }

    #contframe {
        width: 50%;
        margin: 0 auto;
    }
</style>
{% endblock  %}