{% extends "shome/basic.html" %}
{% block title %}{{Softwarez.software_name}}- My tech Reviews{% endblock %}
{% block head_extra %}
{% load static %}
    <link rel="stylesheet" href="{% static 'shome/softview.css' %}">
{% endblock %}
{% block body %}
{% comment %} sidebr code {% endcomment %}
<div class="sidebar">
    {% for i in Softscroll %}
        <a href="/softwares/{{i.id}}">{{i.software_name |slice:"0:23"}}</a>
    {% endfor %}
</div>
{% comment %} sidebar ended {% endcomment %}
<h2 id="hedding">{{Softwarez.software_name}}</h2>
<div id="imgframe">
    <img src="/media/{{Softwarez.image}}" alt="">
</div>
<div id="contframe">
    <p>{{Softwarez.desc|safe}}</p>
</div>
<hr>
<div class="container">
    <h2>Comments......</h2><br>
    <p>We will work on comments Letter</p>
</div>
<br><br><br><br><br>
{% endblock  %}