#imgframe {
        /* width: 300px; */
        width: 57%;
        margin: 0 auto; /* Centers the element horizontally */
        border:solid rgb(87, 0, 99);
        padding: 1% 1% 1% 1%;
        text-align: center; 
    }

    #imgframe img {
        max-width: 100%;
        height: auto;
        margin-bottom: 1rem;
    }
    #hedding{
        margin-top: 10%;
        margin-left: 21%;
        width: 57%;
    }
    #contframe {
        text-align: center;
        width: 57%;
        margin-left: 23%;
    }
    .Cmtcontainer{
        width: 57%;
        margin-left: 21%;
    }
    .Related_Cont
    {
        width: 57%;
        margin-left:30%;
    }
      .card {
        width: 600px;
        border: 1px solid #ccc;
        border-radius: 5px;
        padding: 1rem;
        text-align: center;
      }
      
      .card img {
        max-width: 100%;
        height: auto;
        margin-bottom: 1rem;
      }
    /* for sidebar */
    .sidebar {
        height: 90vh;
        width: 250px;
        background-color: #f5fcff;
        color: rgb(0, 0, 0);
        display: flex;
        flex-direction: column;
        padding-top: 20px;
        padding-bottom: 20px;
        top: 4%;
        position:fixed ;
        overflow: auto;
    }
    
    .sidebar a {
        text-decoration: none;
        color: rgb(24, 24, 24);
        padding: 10px 15px;
        display: block;
    }
    
    .sidebar a:hover {
        background-color: #aadaf1e1;
    }
    .sidebar p{
        background-color: #003e8e;
        color: rgb(255, 255, 255);
        font-weight: bold;
    }
    /* sidebar ended */