.S
  {
    color: rgb(255, 255, 255);
    font-weight: bold;
  }

/* Gadget categories styles */
.gadget-categories {
padding: 2rem 0;
}

.gadget-categories ul {
list-style: none;
padding: 0;
display: flex;
flex-wrap: wrap;
justify-content: center;
}

.gadget-categories li {
margin: 10px;
}

.gadget-categories a {
text-decoration: none;
color: #333;
padding: 5px 10px;
border: 1px solid #ccc;
border-radius: 3px;
}

/* Featured gadgets styles */
.featured-gadgets {
padding: 2rem 0;
}

.gadget-cards {
display: flex;
justify-content: space-between;
margin-left:43px;
}
.card-flexbox {
display: flex;
justify-content: space-between;
flex-wrap: wrap; /* Allow cards to wrap onto multiple lines */
gap: 25px; /* Adjust spacing between cards */
}
.card {
width: 300px;
border: 1px solid #ccc;
border-radius: 5px;
padding: 2rem;
text-align: center;
}


.card img {
max-width: 100%;
height: auto;
margin-bottom: 1rem;
}